/* Estilo para el contenedor */
.contenedor {
    width: 200px;
    transform: translate(576px, 55px);
    margin-left: 100px;
  }
  
  /* Estilo para la imagen dentro del contenedor */
  .contenedor img {
    width: 200px;
    transform: translate(-176px);
  }